body{
	font-family: cursive;
}

/*header styling*/
#main_header{
	width: 100%;
	height:15%;
	background:#696969;

	float: left;
	margin-top: -8px;
	/*margin-bottom: 20px;*/
}
#logo{
	/**/
	width:250px;
	/*width:30%;*/

	/**/
	margin-top: 10px;
	float: left;
} 
#ist{
	color: white;
	font-size: 45px;
	font-weight: bold;
	margin-left: 15px;
	font-family: cursive;
}
#iist{
	color: white;
	font-size: 35px;
	font-weight: bold;
	font-family: cursive;
}
/*search box*/
#search{
	/**/
	/*width: 55%;*/
	width: 650px;
	/**/
	float: left;
	padding:20px;
	margin-left:50px;
	margin: 0 auto;

}
.search_area{
	/**/
	/*width: 55%;*/
	width: 650px;
	/**/
	height:50px;
	background: #fff;
	border: none;
	border-radius:10px;
	float:left;
	padding-left: 15px;
}
.search_btn{
	width: 100px;
	height: 50px;
	border-radius: 10px;
	color: #fff;
	background:#CD5C5C;
	margin-left: -100px;
}
#user_manu{
	/**/
	width: 300px;
	/*width: 20%;*/
	/**/
	float:right;
	margin-top:20px;
	color: white;
	
}
#user_manu li{
	float: left;
	width:140px;
	text-align: center;
	list-style: none;
	font-size:20px;
	border-left: 1px solid white;

}
#color{
	color:white;
}
#user_manu li:hover{
	font-size:30px;
	color:#CD5C5C;
	transition: all .5s ease;
}

#navBar{
	width:100%;
	height:35px;
	/*background:#696969;*/
	/*background:#F0FFF0;*/
	background:#2F4F4F;
	float: left;
	/*box-shadow: 10px 14px 50px 2px #2F4F4F;*/
}

#navBar nav{
	width:1280px;
	/*margin:0 auto;*/
	margin-left: 40px;
	/*border:2px solid white;*/
}
#navBar nav a{
	margin-left: 35px;
	color:white;
	/*color:black;*/
	text-decoration: none;

}
#navBar nav a:hover{
	color:#CD5C5C;
	/*color:#696969;*/
	font-size:15px;
	transition: all .5s ease;
}
/*img{
	width: 300px;
	height:300px;
}*/
#heandling_block{
	width: 100%;
	height:auto;
	float:left;
	color:black;
	font-size: 22px;
}
#heandling_block h2{
	margin-top: 30px;
	margin-left: 20px;
	color: #696969;
	border-left: 20px solid #696969;
}
/*category boxes*/
.catbox{
	width:240px;
	height:240px;
	overflow: hidden;
	position: relative;
	float: left;
	/*margin:0 15 30 0;*/
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.catbox span{
	width: 100%;
	display: block;
	bottom:30px;
	position: absolute;
	z-index: 999;
	text-align: center;
	height: 35px;
	background:rgba(0,0,0,0.6);
	color:white;
	line-height: center;

}
 /**//**//**/
.catbox img{
	max-width: 100%;
	transition: all .5s ease;
	width: 300px;
	height:300px;

}
.catbox:hover img{
	transform: scale(1.3,1.3);
	transition: all .5s ease;
}

 #heandling_block{
 	margin-top: 30px;
 }

/*products*/

.prod_box{
	width: 235px;
	height: 300px;
	/*width: 150px;
	height: 150px;*/
	overflow: hidden;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
	position: relative;
	float: left;
}
.prod_box>img{
	max-width: 100%;
	width: 300px;
	height:300px;
}
.prod_tran{
	background:rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	bottom: 0;
	right:0;
	position: absolute;
	opacity: 0;
	transition: all .5s ease;
	/**/
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	/**/
}
.prod_box:hover .prod_tran{
	opacity: 1;
	transition: all .5s ease;
}

.prod_feature{
	text-align: center;
	margin-top: -150px;
	/*transition: all .5s ease;*/
}
.prod_feature p{
	color:white;

}
.prod_box:hover .prod_feature{
	margin-top: 100px;
}





.herald-pagination {

    float: left;
    width: 100%;
    position: relative;
    border-top: 1px solid;
    padding-top: 35px;
    text-align: center;
    margin-bottom: 35px;
}
/*bottom nav*/

#navBarUnderThePage{
	margin-top: 30px;
    width: 100%;
    height: 35px;
    /*background: #696969;
    background: #F0FFF0;
    background: #2F4F4F;*/
    float: left;
    text-align: center;
}

#navBarUnderThePage a{
	color: black;
	font-weight: bold;
	font-size: 20px;
	

}

hr { 
	margin-left: 15px;
	margin-right: 15px;
 height:3px;
 border:none; 
 color:rgb(60,90,180);
 background-color:
 rgb(60,90,180);
  }
 
